*{
    margin:0px;
}

body{
    font-family: Arial,  sans-serif;
    background-color: rgba(7, 240, 77, 0.258);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    padding: 0px;
    padding: 20px;
}

#input-form{
    margin-bottom: 30px;
}

#city-input{
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
#submitbtn{
    padding: 10px;
    font-size: 25px;
    background-color: rgba(11, 238, 11, 0.694);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
#submitbtn:hover{
    background-color: rgba(0, 144, 0, 0.708);

}
.card{
    display: none;
    flex-direction: column;
    gap:10px;
    align-items: center;
    background: linear-gradient(rgba(11, 11, 225, 0.644),rgba(211, 144, 19, 0.662));
    padding: 20px;
    border: none;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);

}
.cityDisplay{
  font-size: 50px;
  color: rgba(0, 0, 0, 0.879);
  font-weight: bold;
  margin:10px 0px;
}
.tempDisplay{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.756);
    font-weight: bold;
  margin:10px 0px;

}

.humidDisplay ,.descDisplay ,.errorDisplay{
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0px;
  color:rgba(0, 0, 0, 0.568)
  
}
.emojiDisplay{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}